* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root {
  --tc: #fff;
  --bgc: #E6D0A7;
  --mc: #212121;
}

body {
  color: var(--tc);
  background: var(--bgc);
}

*::selection {
  background: var(--tc);
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 170px;
  background: var(--bgc);
  background-color: #B18F66;
}

.navbar{
    display: flex;
}
.navbar a{
    color: #000;
    font-size:1.1rem;
    padding:10px 20px;
    font-weight:500;
}
.navbar a:hover{
    color:var(--tc);
    transition:.4s;
}

.details {
  margin-left: 8%;
  margin-top: 13%;
}

.details h2 {
  font-size: 50px;
  color: #000;
  margin-bottom: 20px;
}

.details p {
  line-height: 22px;
  color: #000;
}

.details a {
  background: #212121;
  padding: 10px 18px;
  font-weight: bold;
  color: #fff;
  margin: 30px 0;
  display: inline-block;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: var(--mc);
  color: #fff;
  border-radius: 0.5rem;
  transition: .4s;
}

.btn:hover {
  transform: scale(1.1) translateY(5px);
}

.about,.service,.hire,.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh; /* makes it vertically centered */
  padding: 20px;
}

.about-text,.service-text,.hire-text,.projects-text {
  max-width: 800px;
}


.about-text,.service-text,.hire-text,.projects-text {
  color: #992727;
  font-weight: 600;
}

.about-text h2,.about-text h3,.service-text h2,.hire-text h2,.projects-text h2{
  font-size: 2rem;
  color: #333;
  margin: 15px 0;
}

.about-text h3{
  margin-top: 50px;
}

.about-text p,.service-text p,.hire-text p,.service-text ul,.projects-text p,.projects-text ul{
  margin: 0.8rem 0 1.8rem;
  line-height: 1.7;
  color: #333;
}
